# Env示例文件，可以根据它来创建.env.dev .env.beta .env.pro
NODE_ENV = pro # dev(开发) beta(测试) pro(生产) 
VUE_APP_PORT = 8080
VUE_APP_BASE_URL = https://your.api.url # 后端url
VUE_APP_OSS_IMAGE_BASE_URL = https://your-oss-base-url-link.aliyuncs.com # 阿里云oss的基本url
VUE_APP_OSS_BASE_DIR = /your-oss-base-dir # 阿里云oss的基本目录