// @import './variable.scss'; // 引入变量
// 工具栏icon
.md-editor-toolbar-item {

    .md-editor-icon {
        height: 5rem ;
        width: 3rem ;
        line-height: 5rem;
    }

    .anticon {
        color: currentColor;
    }
}

// 底部页脚
#editorBox .md-editor-footer {
    font-size: 1.5rem;
    height: auto;
    padding: .5rem;

    .md-editor-checkbox {
        height: auto;
        width: auto;
    }
}
// 表情工具
.emoji-container .emojis {
    width: 80rem;
    max-height: 20rem;
    overflow-y: scroll;

    &::-webkit-scrollbar {
        display: none;
    }

    li {
        height: 5rem;
        width: 5rem;
        line-height: 5rem;
        margin: 0;
        padding: 0;
        font-size: 2.5rem;
    }
    
}

// 编辑器
.md-editor {
    background-color: $main-car-color !important;
    --md-color: $main-text-color !important;
    // font-family: 'MyCustomFont', sans-serif !important;
}
.md-editor .ͼ1 .cm-scroller {
    background-color: $main-background-color;
}
.md-editor-resize-operate {
    background-color: $main-car-color;
}
// 代码块
.md-editor-preview details.md-editor-code .md-editor-code-head {
    cursor: $hover-cursor !important;
}
.md-editor-preview .md-editor-code .md-editor-code-head { // 代码块标题
    background-color: $main-background-color !important;
}
.md-editor-preview .md-editor-code pre code { // 代码块内容
    background-color: $main-background-color !important;
}
// --目录--
.md-editor-catalog-active > span {
    transition: all .5s !important;
}
.md-editor-catalog-active > span,
.md-editor-catalog-link >span:hover {
    color: $main-color !important;
    font-size: $small-font-size;
    font-weight: $large-font-weight;
}
// 图片
.md-editor-preview figure {
    display: block !important;
}
// 引用
.md-editor-preview blockquote {
    background-color: $main-car-color !important;
}
// md其他表图（流程图，时序图...）
.md-editor-mermaid {
    background-color: #fff !important;
    display: flex !important;
    justify-content: center;
    align-items: center;
    padding: 2rem;
    margin: 2rem !important;
    border-radius: 20px;
}
#preview-preview {
    img {
        max-height: 50vh;
    }
}

// descriptions
.ant-descriptions {
    .ant-descriptions-title {
        color: $main-text-color;
    }
}