@font-face {
    font-family: 'MyCustomFont';
    src: url('~/assets/fonts/DingTalk-JinBuTi.woff2') format('woff2'),
         url('~/assets/fonts/DingTalk-JinBuTi.woff') format('woff'),
         url('~/assets/fonts/DingTalk-JinBuTi.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
/* 应用字体 */
body {
    font-family: 'MyCustomFont', sans-serif;
}